@font-face {
    font-family: 'karla';
    src: url("/src/fonts/Karla-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'roboto';
    src: url("/src/fonts/Roboto-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

