/* code for homepage */
.about_me_heading {
    font-size: 40px; 
}

.services_heading {
    font-size: 40px; 
}

.contact_heading {
    font-size: 40px; 
}

.home_section_container {
    display: flex;
    margin-left: auto;
    margin-right: auto;  
    padding: 36px 0;
    gap: 54px;
}

.about_services_background { 
    background-color: #B1B6BA; 
}

.portrait {
    justify-content:flex-end;
    align-items: flex-end;
    width: 250px;
    margin-left: 24px;
    /* margin-bottom: 25px; */
    border-radius: 9px;
    /* transition: 1.0s; */

    /* box-shadow: 1px 1px 6px black; */
}

.portrait:hover {
    /* transform: scale(1.1) */
}

.icon {
    font-size: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
/* .fa-handshake, .fa-address-card, .fa-comments-dollar {
    padding: 0 54px;
} */
.fa-handshake {
    color: #034b80;
}

.fa-address-card {
        color: #0597ff;
    /* color: rgb(59, 46, 2); */
}

.fa-comments-dollar {
    /* color: rgb(202, 142, 13); */
    color: #06544b;
}

.link {
    color: #034b80;
}