/* code for homepage */
.about_me_heading {
    font-size: 40px;
}

.home_section_container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 0;
    gap: 54px;
}

.about_services_background {
    background-color: #c9cfd4;
}

.portrait {
    justify-content: flex-end;
    align-items: flex-end;
    width: 250px;
    margin-left: 24px;
    border-radius: 9px;
}

.icon {
    font-size: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.fa-handshake {
    color: #034b80;
}

.fa-address-card {
    color: #0597ff;
}

.fa-comments-dollar {
    color: #06544b;
}

@media (max-width: 890px) {
    .home_section_container {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding: 36px 0;
        gap: 24px;
    }

    .portrait {
        width: 55%;
        height: auto;
        align-self: flex-start;
    }

    .home_section_container .icon {
        /* width: 45%;
        height: auto; */
        align-self: flex-start;
        font-size: 90px;
    }

    .about_me_heading {
        display: none;
    }

    .mobile_heading {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .large_display {
        display: none;
    }

}

@media (min-width: 891px) {
    .mobile_heading {
        display: none;
    }
}