.fullWidthContainer, .servicesBox {
    width: 100%;
    display: block;
}

.contentWidthContainer, .services {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto;
}

.page_container {
    padding: 36px 0;
}