.menu {
    display: flex;
    justify-content: flex-end;
    background-color: #023255ff;
    color: white;
    font-size: 22px;
    align-items: center;
    margin-right: 32px;
    line-height: 1.1;
}
.menu li:hover {
    background-color: #024A7D;
}
.menu a {
    display: block;
    padding: 42px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.navcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #023255;
    border-bottom: 4px solid rgb(100, 100, 100);
}

.logo {
padding: 16px;
    width: 120px;
    margin-left: 16px;
}