@import "fonts.css";
@import "layout.css";
@import "base.css";

@import "spacing.css";
@import "navigation.css";
@import "home.css";

.banner {
    width: 100%;
    height: 4px;
        /* background-color: #385e9b; */
    background-color: rgb(100, 100, 100);
}
